<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediTurnoPTY">
        <activity
            android:name=".actividades.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.HistorialActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.MedicamentosActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.CitasActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.CentrosMedicosActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.GestionHospitalesActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.PanelClienteActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.PanelAdminActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.InicioSesionActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.BienvenidaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
